body {
  background-color: #889;
}

.important {
  border-style: solid;
  border-color: #457;
  margin: 40px 300px;
  padding: 10px 40px;
  background-color: #abb;
  color: #128;
  font-family: Verdana, sans-serif;
  text-align: center;
  line-height: 3em;
}

.subpages {
  border-style: solid;
  border-color: #abd;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #457;
  color: #abb;
}

.subpages li {
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 40px;
  background-color: #abd;
  list-style-type: none;
  text-align: left;
  font-family: Arial, sans-serif;
  font-size: 30px;
}
